@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

h1,h2,h3,h4 {
  font-family: Oswald;
  font-size: 20;
  }
p {
  font-family: Open Sans;
  font-size: 12;
  }
header {
	padding: 50px 175px;
	background-image: url("images/doxorubicin.png");
	background-color: white;
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;

}
header img {
	background-color: transparent;
	padding: 15px;
